/*this container includes our table and our canvas*/
.center-container{
    text-align: center;
    width: 708px;
    margin: 0 auto;
    margin-top: 50px;/*this sets it 50px down from the top of the page. */
}

table{
    border-collapse: collapse;
    text-align: center;
    border-style: hidden;
/*this hides the outer border*/
}

td{
    cursor: pointer;
    border: 4px;
    border-style: solid;
    border-color: darkgreen;
    padding: 0px;
    width: 220px;
    height: 220px;

}

h1{
    position: center;
text-align: center;
    color: darkorchid;
}

canvas{

    position: absolute;
    z-index: 10;
    pointer-events: none;
}

body{
    background-image: url("./images/rome.png");

}